<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    {% include "_head.jinja2" %}
</head>

<body>

{% include "_nav.jinja2" %}

<div id="carousel_wrapper">
    {% block carousel %} {% endblock %}
</div>

<div>
    {% block buttons %} {% endblock %}
</div>

<main id="main_wrapper">
    {% block main %} {% endblock %}
</main>

{% include "_footer.jinja2" %}

<script type="text/javascript" src={{url_for("static", filename="js/main.js")}}></script>
</body>
</html>

