{% extends "_main.jinja2" %}

{% block title %} Customer: {{ customer[2]}} {% endblock %}


{% block main %}
    {% if customer %}
        <div class="container" style="padding: 30px;">
        <img  class="card-photo" src='{{customer[7]}}' class="card-img-top" alt="avatar">
        </div>
        <table class="table table-striped table-bordered table-dark">

        <thead>
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Tariff</th>
            </tr>
            </thead>
         <tbody>
    <td class="font-weight-bold">{{ customer[0] }} </td>
    <td class="font-weight-bold">{{ customer[1] }}</td>
    <td class="font-weight-bold">{{ customer[2] }}</td>
    <td class="font-weight-bold">{{ customer[3] }}</td>
    <td class="font-weight-bold">{{ customer[4] }}</td>
    <td class="font-weight-bold">{{ customer[6] }}</td>
        </tbody>
        </table>

            {% else %}
            <p> No Customers :( </p>
            {% endif %}

           {% if consumptions %}

    <table style="width:30%" class="table table-striped table-bordered table-dark table-sm">
     <thead>
       <tr>
       <th scope="col">#</th>
       <th scope="col">Date</th>
       <th scope="col">Consumption in kw/h</th>
       </tr>
      </thead>
      <tbody>
        {% for consumption in consumptions %}
      <tr>
      <th style="width:20%">{{ loop.index }}</th>
        <td class="font-weight-bold" style="width:50%">{{ consumption.date}} </td>
        <td class="font-weight-bold" style="width:30%">{{consumption.consumption}}</td>
      </tr>

        {% endfor %}
         </tbody>
         </table>
        {% else %}
             <div class="container">
                <p> No consumption </p>
            </div>
        {% endif %}
{% endblock %}