{% extends "_main.jinja2" %}

{% block title %} Customer: {{ customer[2]}} {% endblock %}


{% block main %}
    <div id="customer_wrapper">
    <div class="customer_info_box">
    {% if customer %}
        <div class="container">
            <div class="card">
                <img  class="card-photo rounded-circle" src='{{customer[7]}}' class="card-img-top" alt="avatar">
               <p class="customer_text">Customer ID:      <span>{{ customer[0] }}</span></p>
               <p class="customer_text">Name:             <span>{{ customer[1] }}</span></p>
               <p class="customer_text">Surname:          <span>{{ customer[2] }}</span></p>
               <p class="customer_text">Email:            <span>{{ customer[3] }}</span></p>
               <p class="customer_text">Address:          <span>{{ customer[4] }}</span></p>
               <p class="customer_text">Tariff:           <span>{{ customer[6] }}</span></p>
            </div>
         </div>
            {% else %}
            <p> No Customers :( </p>
            {% endif %}
        </div>

        <div class="customer_consumption_box">
        {% if consumptions %}
                {% for consumption in consumptions %}
                    <div class="consumption_container">
                    <div class="consumption_data">
                    <p> Date: <span>{{ consumption.date}}</span> </p>
                    <p> Consumption: <span>{{consumption.consumption}} kw/h</span> </p>
            </div>

        {% endfor %}
        {% else %}
             <div class="container">
                <p> No consumption </p>
            </div>
    {% endif %}
      </div>
        </div>
        </div>
    </div>
{% endblock %}