{% extends "_reporter_main.jinja2" %}

{% block title %} Reporter {% endblock %}


{% block main %}
    <table class="table table-striped table-dark">
         {% if reports %}
<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time stamp</th>
      <th scope="col">Tag</th>
    </tr>
  </thead>
<tbody>
{% for report in reports%}
    <th> <p class="report_text"> <span>{{loop.index}}</span> </th>
    <td><p class="report_text"> <span>{{ report["date"]}}</span> </p></td>
    <td> <p class="report_text"> <span>{{ report["passed"]}}</span> </p></td>
    <td> <p class="report_text bg-success"> <span> OK </span> </p></td>

    </tr>
{% endfor %}
{% else %}
            <p> No Customers :( </p>
         {% endif %}

</tbody>
</table>
{% endblock %}
