{% extends "_reporter_main.jinja2" %}

{% block title %} Reporter {% endblock %}


{% block main %}

{#{% if screenshots %}#}
{#    {% for shot in screenshots %}#}
{#        <img src="{{ url_for("static",  filename=shot) }}" alt="screenshot">#}
{#    {% endfor %}#}
{#    {% endif %}#}

{% endblock %}
