{% extends "_reporter_main.jinja2" %}

{% block title %} Reporter {% endblock %}


{% block main %}
        <table style="width: 30%;" class="table table-striped table-dark table-hover table-sm">
         {% if paths %}
<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Invoices</th>
    </tr>
  </thead>
<tbody>
{% for path in paths%}
    <th>{{loop.index}}</th>
    <td><a style="color:#9fcdff;" href="{{ url_for('static',  filename=path)}}">{{ path[12:36] }}</a></td>

    </tr>
{% endfor %}
{% else %}
            <p style="color: #9fcdff"> No Invoices </p>
         {% endif %}

</tbody>
</table>

{% endblock %}
