body {
    position: relative;
    padding: 0 8%;
    background: url("../photos/bckg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

header {
    text-align: center;
}

main{
    width: 90%;
    height: 60%;
    overflow: auto;
    margin: 50px auto;
}

#cards-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-holder{
    width: 50%;
}
.text-holder p{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.card-holder{
    background: rgba(252, 252, 252, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 3px 3px 10px rgba(57, 129, 237, .3);

}

.card-photo{
    width: 100px;
    height: 100px;
    margin: 0 20px;
}


#customers_header{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}
#header-wrapper{
    display: flex;
    justify-content: space-between;
}

#header-photo{
    height: 50px;
}

#header-wrapper a{
    color: #1b1e21;
    font-size: 20px;
   }

span{
    font-weight: 700;
}


.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.nav form {
    display: inline-block;
    padding: 10px;
}

footer {
    text-align: center;
}


